<div class="group">
  <% link_to group do %>
    <div class="avatar">
      <%= image_tag(group.avatar.url(:large)) %>
    </div>
  <% end %>
  <div class="meta">
    <%= link_to group.name, group, :class => 'group_name' %>
    <div class="summaries">
      <span class="summary">
        12
        <%= link_to 'members', group_memberships_path(group) %>
      </span>
      |
      <span class="summary">
        10
        <%= link_to 'haikus', haikus_group_path(group) %>
      </span>
      |
      <span class="summary">
        Created <%= time_ago_in_words(group.created_at) %> ago
      </span>
    </div>
    <p class="description">
      <%= h truncate(group.description, :length => 180) %>
      (<%= link_to 'more', group %>)
    </p>
  </div>
</div>