<% render :layout => "groups/layout" do %>
  <h3>Edit group</h3>
  <% form_for current_group do |f| %>
    <table>
      <tr>
        <td><%= f.label :name, 'Name:' %></td>
        <td><%= f.text_field :name %></td>
        <td><%= f.error_message_on :name, :prepend_text => 'Name ' %></td>
      </tr>
      <tr>
        <td class="description"><%= f.label :description, 'Description:' %></td>
        <td><%= f.text_area :description, :cols => 40, :rows => 6 %></td>
        <td><%= f.error_message_on :description, :prepend_text => 'Description ' %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit 'Save' %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<script>
$('group_name').activate();
</script>