<% title "Groups" %>

<div class="groups-header">
  <h2>Groups</h2>
  <%= link_to 'Your groups', groups_path %> |
  <%= link_to 'Create a new group', new_group_path %> |
  <%= link_to 'Search groups', search_groups_path %>
</div>

<h3>Groups you administrate</h3>
<%= debug @administrates %>

<h3>Memberships</h3>
<%= debug @memberships %>

<h3>Invitations</h3>
<%= debug @invitations %>

<h3>Applications</h3>
<%= debug @applications %>