- link_to conversation, :class => 'conversation' do
  .time
    = conversation.latest_haiku_update.strftime("%d %b %y")
  .context
    - if conversation.inspiration
      = image_tag conversation.inspiration.small
    - else
      .summary= conversation.haikus_count_total
      haikus
  .haikus
    - conversation.recent_haikus.each do |haiku|
      .terse-haiku= truncate(haiku.terse, :length => 90)
    .more
      - if conversation.recent_haikus.size < conversation.haikus_count_total
        = "#{pluralize(conversation.haikus_count_total - conversation.recent_haikus.size, 'more haiku')} ..."
      - else
        Join the conversation