- title 'Flickr Inspiration'

.small.column
  = image_tag @inspiration.thumbnail
.wide.column
  = render_create(:conversation => @conversation)
%br

.conversation-section
  %h3= "Haikus inspired by this image"
  %br
  = render_haikus(@haikus)

= will_paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => false