- title 'Flickr Inspiration'

.small.column
  = image_tag @inspiration.thumbnail
.wide.column
  = render :partial => 'shared/create', :locals => {:conversation => @conversation}
%br

.conversation-section
  %h3= "Haikus inspired by this image"
  %br
  = render :partial => 'shared/haiku', :collection => @haikus

= will_paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => false