- title "A conversation with #{pluralize(@conversation.haikus_count_total, 'haikus')}"

.small.column
  .conversation_header
    Join the conversation with
    .summary= @conversation.haikus_count_total
    other haikus
.wide.column
  = render_create(:conversation => @conversation)
%br

.conversation-section
  %h3= "Haikus in this conversation"
  %br
  = render_haikus(@haikus)

= will_paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => false