#register-border-top
#register
  %p= flash[:notice]
  = error_messages_for 'user'

  - form_tag do
    %label{ :for => "email" }
      = text_field_tag :email, params[:email]
      Email:
    %label{ :for => "password" }
      = password_field_tag :password, params[:password]
      Password:
      
    #submit-buttons
      = submit_tag "Login", {:id => "login_button"}
    
    %script{ :type => "text/javascript" } YAHOO.util.Dom.get('email').focus();

  %p 
    Not registered?
    = link_to("Sign up", register_url)
#register-border-bottom