#top.border
#register
  %p= flash[:notice]
  = error_messages_for 'user'
  

  - form_for :user do |f|
    #alias_box.input_box{:style => "visibility: hidden; margin-bottom: -50px;"}
      %label{ :for => "alias", :style => "visibility: hidden;" }
        Display Name:
      = f.text_field :alias, :size => 40

    #email_box.input_box
      %label{ :for => "email" }
        Email:
      = f.text_field :email
      
    #password_box.input_box
      %label{:for => "password"}
        Password:
      = f.password_field :password
        
    #password_confirmation_box.input_box{:style => "visibility: hidden; margin-top: -50px;"}
      %label{ :for => "password_confirmation", :style => "visibility: hidden;" }
        Confirm:
      = f.password_field :password_confirmation, :size => 40
      
    
    #button-box
      #login-buttons
        = submit_tag "Login", {:id => "login_button"}
        %p 
          Not registered?
          %span#sign_up.soft_link
            Sign up

    
      #register-buttons
        = submit_tag "Register", :name => "register"
        %button#register_cancel
          Cancel
            
    %script getEl('user_email').focus();
#bottom.border