#login-border-top
#login.centered
  %p= flash[:notice]
  %fieldset
    %legend Sign in to Haiku Village

    - form_tag do
    %label{ :for => "email" }
      = text_field_tag :email, params[:email]
      E-Mail:
    %label{ :for => "password" }
      = password_field_tag :password, params[:password]
      Password:
    = submit_tag "Login", {:id => "login_button"}
    - end
    %script{ :type => "text/javascript" } YAHOO.util.Dom.get('email').focus();

  %p 
    Not registered?
    = link_to("Sign up", register_url)
#login-border-bottom