#register-border-top
#register
  = error_messages_for 'user'

  - form_for :user do |form|
    .input
      %label{ :for => "alias" }
        = form.text_field :alias, :size => 40
        Display Name:
    .input
      %label{ :for => "email" }
        = form.text_field :email, :size => 40
        Email:
    .input
      %label{ : => "user_password" }
        = form.text_field :password, :size => 40
        Password:
    .input
      %label{ :for => "user_password_confirmation" }
        = form.text_field :password_confirmation, :size => 40
        Confirm:

    #submit-buttons
      = submit_tag "Register", :name => "register"
      = submit_tag "Cancel", :name => "cancel"
#register-border-bottom