<div class="message">
  <div class="avatar">
    <% link_to author_path(message.other_author.username) do %>
      <%= image_tag medium_avatar_url(message.other_author) %>
    <% end %>
  </div>
  <div class="author_and_time">
    <div class="author">
      <%= current_author == message.sender ? " to " : " from " %>
      <%= link_to message.other_author.username, author_path(message.other_author.username) %>
    </div>
    <div class="time">
      <%= message.created_at.strftime("%d %b %y") %>
    </div>
  </div>
  <div class="text">
    <% message.text.each_line do |line| %>
      <div class="line"><%= h(line) %></div>
    <% end %>
  </div>
  <div class="actions">
    <%= link_to('Delete', message, :method => :delete, :class => 'icon trash') %>
  </div>
</div>