= form_tag session_path do
  %table
    %tr
      %td
        = label_tag :username, 'Username or Email:'
      %td
        = text_field_tag :username, cookies[:username], :id => 'session_username'
      %td{:rowspan=>"3"}
        %h2 or
      %td{:rowspan =>"3"}= fbml 'login-button', perms: 'email', size: 'large', length: 'long'
      
    %tr
      %td
        = label_tag :password, 'Password:'
      %td
        = password_field_tag :password, "", :id => 'session_password'
      %td
    %tr
      %td
        = check_box_tag :remember_me, "1"
      %td
        = label_tag :remember_me, 'Remember me', :class => 'checkbox'
      %td
    %tr
      %td
      %td
        = submit_tag 'Sign in'
      %td
    %tr
      %td
      %td{:style => 'padding-top: 10px'}
        = link_to "Forget your password?", password_resets_path
      %td