<h2>Type in your new password</h2>
<%= form_for @password_reset do |f| %>
  <%# hidden_field_tag :token, @password_reset.token %>
  <table>
    <tr>
      <td><%= f.label :password, "New password:" %></td>
      <td><%= f.password_field :password %></td>
      <td><%= f.error_message_on :password %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Change password" %></td>
    </tr>
  </table>
<% end %>

<script>
$('#password_reset_password').focus();
</script>