<h2>Type in your new password</h2>
<%= form_tag do %>
  <%= hidden_field_tag :token, @password_reset.token %>
  <table>
    <tr>
      <td><%= label_tag :password, "New password:" %></td>
      <td><%= password_field_tag :password %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "Change password" %></td>
    </tr>
  </table>
<% end %>

<script>
$('password').focus();
</script>