#haiku_form
  = form_for :haiku, :url => {:controller => 'haikus', :action => 'create'} do |form|
    - unless local_assigns[:conversing_with].nil?
      = hidden_field_tag('haiku[conversing_with]', conversing_with.id)
    #conversation_id_wrapper
      - unless local_assigns[:conversation].nil?
        = hidden_field_tag('haiku[conversation_id]', conversation.id)

    %table.internals
      %tr
        %td
        %td#preview{:class => 'empty'}
          %div five syllables
          %div seven syllables
          %div five syllables
      %tr
        %td
          %label="Haiku:"
        %td
          = haiku_text_tag

      %tr
        %td
          %label="Subject:"
        %td
          = text_field_tag 'subject_name'
      %tr
        %td
        %td
          = form.submit "Create", :id => "commit_haiku", :disabled => true

  - if local_assigns[:inspire]
    #inspire
      = render 'haikus/inspire'
  

%script
  new Haiku.PeriodicalUpdater("#haiku_text", "#preview", "#commit_haiku");