- div_for(haiku, :style => new_haiku?(haiku) ? 'display: none' : '') do
  .avatar_and_time
    .time= haiku.created_at.strftime("%d %b %y")
    - link_to author_path(haiku.author.username) do
      = image_tag medium_avatar_url(haiku.author)
  .text_author_group
    - link_to haiku, :class => 'text' do
      - haiku.lines.each do |line|
        .line= h(line)
    .info
      = link_to haiku.author.username, author_path(haiku.author.username), {:class => 'author'}
      - unless haiku.subject_name.nil?
        = " about #{link_to_subject(haiku.subject_name)}"
  - if haiku.conversation
    .context
      - link_to haiku.conversation do
        - if haiku.conversation.inspiration
          = image_tag haiku.conversation.inspiration.small, :class => 'haiku-inspiration'
        - else
          Conversing with
          .summary= (haiku.conversation.haikus_count_total - 1)
          other haiku
  - if current_author
    .actions
      = enter_conversation_link(haiku)
      = destroy_haiku_link(haiku)
- if new_haiku? haiku
  = update_page_tag do |page|
    - page[haiku].appear