%p#cancel_line{:style => "display:none"}= link_to("cancel", nil, :id => "cancel_link")

#inspiration_what
  You can add an image to your haiku.

#inspiration_selection
  %p= link_to("Use an image", nil, :id => "use_flickr")

#inspiration_preview{:style => "display: none;"}
  = link_to("< Prev", "#", :id => "prev_inspiration")
  = link_to("Next >", "#", :id => "next_inspiration")
  #inspiration_image

#upload_inspiration_image

%script= raw("inspirations(#{inspirations_json});")