- title "A haiku by #{@single_haiku.author.username}"
- description @single_haiku.text.gsub(/\r\n|\r|\n/, ' / ')

%h2=haiku_title(@single_haiku)

.center
  - if @single_haiku.conversing? && @single_haiku.conversation.inspiration
    .haiku-inspiration
      - link_to @single_haiku.conversation, :class => "" do
        = image_tag @single_haiku.conversation.inspiration.thumbnail
      %br
      - link_to @single_haiku.conversation do
        = "#{@single_haiku.conversation.haikus_count_total} haiku"
        are inspired by this image
  .haiku-big
    .text
      - @single_haiku.text.each_line do |line|
        .line= h(line)
    .info
      = "Created on #{@single_haiku.created_at.strftime("%b %d, %Y")} by"
      = link_to_author @single_haiku.author
    .info= haiku_summary_sentence(@single_haiku)
    - if current_author
      .actions
        = favorite_star(@single_haiku)
        = destroy_haiku_link(@single_haiku)
        = email_haiku_link(@single_haiku)

.conversation-section
  - if @single_haiku.conversing? && !@single_haiku.conversation.inspiration
    This haiku is in a conversation with
    = "#{@single_haiku.conversation.haikus_count_total} haiku."
    = link_to "Post your own haiku »", @single_haiku.conversation, {:style => "font-weight: bold;"}
    = render_haikus(@single_haiku.conversation.haikus)
  - elsif !@single_haiku.conversing?
    %h3 Start a conversation with this haiku:
    #statement_form
      = render_create(:conversing_with => @single_haiku)