- title "Explore"

%h2.explore-title= "Explore"
%ul.sort_options
  %li= link_to "Recent Haikus", :controller => "Haikus"
  %li= link_to "Most Viewed Haikus", :controller => "Haikus", :order => "most_viewed"
  %li= link_to "Top Favorited Haikus", :controller => "Haikus", :order => "top_favorites"

%h3.random-haiku= "Random haiku"
.haiku-big
  - div_for @random_haiku do
    .text-featured
      = link_to @random_haiku, :class => 'text' + (@random_haiku.conversation.nil? ? '' : ' conversation') do
        - @random_haiku.text.each_line do |line|
          .haiku-line= h(line)
%br
%br

.column
  %h3= 'New authors'
  .href_list= author_list(@new_authors)


.column
  %h3= 'New subjects'
  .href_list= subject_list(@new_subjects)

.cloud
  %h3='Most popular subjects'
  = subject_cloud(@popular_subjects)