#header.navigation
  = link_to(image_tag("haikuvillage.png"), {:controller => "public", :action => "index"}, :id => "logo-link")
  .right
    %ul
      - unless current_author
        %li= link_to 'Sign in', login_url
        %li= link_to 'Register', signup_url
      - else
        %li= link_to 'Sign out', logout_url
        %li= link_to_controller 'Find authors', 'authors'
        %li= link_to_controller 'Profile', 'profile'
    - form_tag({:controller => '/haikus', :action => 'search'}, {:method => :get}) do
      %input{:type => "text", :name => "q", :value => 'Search for haikus', :autocomplete => 'off', :id => 'haiku_search'}