!!! XML
!!! 1.1
%html{html_attrs}
  %head
    %title= @title || yield(:title)
    = javascript_include_tag 'prototype', 'effects', 'controls', 'haiku'
    = stylesheet_link_tag 'reset-min', 'common', 'layout', 'menu', 'landing', 'haiku', 'subjects', 'journal', 'register', :cache => 'haiku_cache'
    /[if lte IE 6]
      = stylesheet_link_tag 'ie6'
    = yield :head
    = yield :description
  %body
    #top
    #body
      = render :partial => "shared/header"
      #content
        - if flash[:notice]
          #notice= flash[:notice]
        = yield
      = render :partial => "shared/side"
    #bottom
    #footer
      = link_to "About HaikuVillage", about_url
    - if Rails.env == 'production'
      = render :partial => "shared/analytics"