!!! XML
!!!
%html
  %head
    %title Haikus
    = stylesheet_link_tag "http://yui.yahooapis.com/2.3.0/build/reset-fonts-grids/reset-fonts-grids.css"
    = stylesheet_link_tag 'haiku'
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'menu'
    = javascript_include_tag "prototype", "effects"
    = yield :head
  %body
    #frame
      #navigation
        #menu
          %ul#top-menu
            %li#logo= image_tag("haikuvillage.gif")
            %li /
            %li= main_menu_link_to("Home", " ")
            %li /
            %li= main_menu_link_to("My Haiku", "my_haiku")
            %li /
            %li= main_menu_link_to("Groups", "groups")
            %li /
            %li= main_menu_link_to("Explore", "haikus")
          %br
        #user-corner
          - if session[:user_id]
          %strong= @user.username
          %br
          = link_to "sign out", logout_url
          - else
          = link_to "sign in", login_url
          - end
         
      #content
        #leftside
          %h2
            = yield :title
          %p= flash[:notice]
          = yield :layout
        = yield :right_side