!!! XML
!!!
%html
  %head
    %title Haikus
    = javascript_include_tag 'prototype', 'effects', 'application'
    = stylesheet_link_tag 'reset-min', 'haiku', 'main', 'menu'
    = yield :head
  %body
    #frame
      #navigation
        #menu
          %ul#top-menu
            %li#logo= link_to(image_tag("haikuvillage.gif"), :controller => "welcome", :action => "index")
            %li= link_to 'Explore', :controller => 'haikus', :action => 'index'
            %li /
            - if session[:user_id]
            %li= link_to 'Create', create_url
            - else
            %li#login_link= link_to 'Login', login_url
            - end
            %form#login_form{:action => login_url, :style => "display:none"}
              %label{:for => 'login_form_username'}="Twitter Username"
              %input{:id => 'login_form_username', :type => 'text', :name => 'username', :size => 15}
              %label{:for => 'login_form_password'}="Password"
              %input{:id => 'login_form_password', :type => 'password', :name => 'password', :size => 15}
              %button{:type => 'submit'}="Go"
          %br
          = render :partial => "shared/sub_menu"
        #user-corner
          - if session[:user_id]
          Welcome
          %strong= current_user.username
          %br
          = link_to "sign out", logout_url
          - end
         
      #content
        %h2= yield :title
        = yield :layout
      #foot