!!! XML
!!! 1.1
%html{html_attrs}
  %head
    %title= @title
    - cache('javascripts_css') do
      = javascript_include_tag 'prototype', 'effects', 'haiku'
      = stylesheet_link_tag 'reset-min', 'haiku', 'main', 'menu', :cache => 'haiku_cache'
  %body
    #frame
      - cache("navigation_#{!current_author.nil?}") do
        = render :partial => "shared/navigation"
      #content
        - if flash[:notice]
          #notice= flash[:notice]
        = yield :layout
      #foot
    - if Rails.env == 'production'
      = render :partial => "shared/analytics"