!!! XML
!!! 1.1
%html{html_attrs}
  %head
    %title= @title || yield(:title)
    = javascript_include_tag 'prototype', 'effects', 'controls'
    = javascript_include_tag 'application', 'syllables', :cache => 'cache'
    = stylesheet_link_tag :haiku, :cache => 'cache'
    /[if lte IE 6]
      = stylesheet_link_tag 'ie6'
    = yield :head
    = yield :description
  %body
    #body
      = render :partial => "layouts/header"
      #content
        - if flash[:notice]
          #notice= flash[:notice]
        = yield
      = render :partial => "layouts/side"
    #footer
      = link_to "About HaikuVillage", about_url
    - if Rails.env.production?
      = render :partial => "shared/analytics"