!!! XML
!!! 1.1
%html{html_attrs}
  %head
    %title= @title || yield(:title)
    - cache('javascripts_css') do
      = javascript_include_tag 'prototype', 'effects', 'controls', 'haiku'
      = stylesheet_link_tag 'reset-min', 'haiku', 'main', 'menu', 'subjects', 'journal', 'register', :cache => 'haiku_cache'
      /[if lte IE 6]
        = stylesheet_link_tag 'ie6'
      = yield :head
      %meta{:name => "description", :description => @meta_description || ""}
  %body
    #top
    #body
      #head
        = render :partial => "shared/navigation"
      #main
        #content
          - if flash[:notice]
            #notice= flash[:notice]
          = yield :layout
    #bottom
    - if Rails.env == 'production'
      = render :partial => "shared/analytics"