!!! XML
!!!
%html
  %head
    %title Haikus
    = javascript_include_tag 'prototype', 'effects'
    = stylesheet_link_tag 'haiku', 'main', 'menu'
    = yield :head
  %body.yui-skin-sam
    #frame
      #navigation
        #menu
          %ul#top-menu
            %li#logo= link_to(image_tag("haikuvillage.gif"), :controller => "welcome", :action => "index")
            %li= main_menu_link_to("My Haiku", "my_haiku")
            %li /
            %li= main_menu_link_to("Explore", "haikus")
          %br
          = render :partial => "shared/sub_menu"
        #user-corner
          - if session[:user_id]
          Welcome
          %strong= @user.username
          %br
          = link_to "sign out", logout_url
          - else
          = link_to "sign in", login_url
          - end
         
      #content
        %h2= yield :title
        = yield :layout
      #foot