!!! XML
!!!
%html
  %head
    %title Login
    = stylesheet_link_tag 'login'
    = stylesheet_link_tag 'main'
    = yui_include_tag "button"
    = javascript_include_tag 'application', 'button_up'
    = yield :head
  %body
    %p= flash[:notice]
    #main-frame= yield