- content_for :head, auto_discovery_link_tag(:atom, :format =>"atom")

%h2.listing_title= @title
%ul.sort_options
  %li= haiku_sort_link :recent
  %li= haiku_sort_link :most_viewed
  %li= haiku_sort_link :top_favorites

= render :partial => 'shared/haiku', :collection => @haikus
%br
= will_paginate @haikus, :id => 'pagination', :previous_label => 'Previous', :next_label => 'Next', :page_links => @page_links