<% render :layout => "groups/layout" do %>
  <div class="admin-memberships">
    <div class="memberships-list">
      <% if @admins.any? %>
        <h3>Admins</h3>
        <div class="membership-list">
          <%= render :partial => 'admin', :collection => @admins %>
        </div>
      <% end %>

      <% if @members.any? %>
        <h3>Members</h3>
        <div class="membership-list">
          <%= render :partial => 'member', :collection => @members %>
        </div>
      <% end %>
      
      <% if @invitations.any? %>
        <h3>Invitations</h3>
        <div class="membership-list">
          <%= render :partial => 'invitation', :collection => @invitations %>
        </div>
      <% end %>
      
      <% if @applications.any? %>
        <h3>Applications</h3>
        <div class="membership-list">
          <%= render :partial => 'application', :collection => @applications %>
        </div>
      <% end %>
    </div>

    <%= render :partial => 'friends', :object => @friends %>
  </div>
<% end %>