- title 'Inspired haiku'

.small.column
  = image_tag @inspiration.thumbnail
.wide.column
  = render_create(:conversation => @conversation)
%br

.conversation-section
  %h3= "Haiku inspired by this image"
  = render @haikus

= paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => false