- title "A conversation with #{@conversation.haikus_count_total} haiku"

.small.column
  .conversation_header
    Join the conversation with
    .summary= @conversation.haikus_count_total
    other haiku
.wide.column
  = render_create(:conversation => @conversation)
%br

.conversation-section
  %h3= "Haiku in this conversation"
  = render @haikus

= will_paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => false