- title "Authors"

= render :partial => 'search_form'

.column
  %h3= 'Active authors'
  .href_list= author_list(@active_authors)

.column
  %h3= 'New authors'
  .href_list= author_list(@new_authors)

.cloud
  %h3='Most popular authors'
  = author_cloud(@popular_authors)