<% title "Authors" %>

<% render :layout => 'index_layout' do %>
  <% form_tag authors_url, :method => :get, :id => 'search_form' do %>
    <%= text_field_tag :author, :username, {:name => 'q', :value => params[:q], :size => 10} %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>

  <div class="column">
    <h3>Active authors</h3>
    <div class="href_list"><%= author_list(@active_authors) %></div>
  </div>

  <div class="column">
    <h3>New authors</h3>
    <div class="href_list"><%= author_list(@new_authors) %></div>
  </div>

  <div class="cloud">
    <h3>Most popular authors</h3>
    <%= author_cloud(@popular_authors) %>
  </div>
<% end %>