%h3= 'Create a new account'
- form_for :author, :url => authors_url do |form|
  %div
    %h3= 'Email'
    = error_message_on :author, :email
    = form.text_field :email
  %div
    %h3= 'Username'
    = error_message_on :author, :username
    = form.text_field :username
  %div
    %h3= 'Password'
    = error_message_on :author, :password
    = form.password_field :password  

  %div
    = form.submit 'Register'

%script
  document.getElementById('author_email').focus();