<% title 'Messages' %>
<h2>Messages</h2>

<div class="messages">
  <% if @friends.any? %>
    <% form_for :message, :html => {:style => "margin-bottom: 10px; overflow: hidden"} do |form| %>
      <div id="haiku_form_internals">
        <div id="preview", class="empty">
          <div>Start typing a haiku below and your</div>
          <div>syllables will be counted here.</div>
          <div></div>
        </div>
        <div class="input_row">
          <label>Message:</label>
          <%= haiku_text_tag(:name => "message[text]", :id => "message_text") %>
        </div>
        <div class="input_row">
          <label>Send to:</label>
          <%= collection_select(:message, :recipient_id, @friends, :id, :username, {}, {:style => "width: 180px"}) %>
        </div>
        <div class="submit_row">
          <%= form.submit "Send", :id => "send_haiku", :disabled => true %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You do not have any mutual friends to send a message to</p>
  <% end %>

  <%= render :partial => "message", :collection => @messages %>
  <%= will_paginate @messages, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => false %>
</div>

<script>
(function() {
  new Haiku.PeriodicalUpdater("message_text", "preview", "send_haiku");
  
  var selectedFriend = <%= params[:friend].to_json %>,
      selectList = $('message_recipient_id');

  for (i = 0; i < selectList.options.length; i++) {
    if (selectList.options[i].value == selectedFriend) {
      selectList.options.selectedIndex = i;
      break;
    }
  }
})();
</script>