<%- rss_discovery "#{@author.username}'s haiku", author_path(@author.username) %>
<%- title "#{@author.username}'s Journal" %>
<% description "Haiku by #{@author.username}" %>

<div class="author-header">
  <div class="avatar">
    <%= large_avatar_image(@author) %>
  </div>
  <div class="nav">
    <div class="header">
      <h2><%= "#{@author.username}'s Journal" %></h2>
      <% if current_author %>
        <%= add_friend(@author) %>
        <%= remove_friend(@author) %>
        <form>
          <input type="submit" value="Message" id="new-message" />
        </form>
      <% end %>
    </div>

    <%= sub_menu(:class => "tab_nav") do |m| %>
      <%= m.link "Haiku", author_path(:id => @author.username) %>
      <%= m.link "Subjects", author_subjects_path(:author_id => @author.username)  %>
      <%= m.link "Friends", friends_author_path(@author.username)  %>
    <% end %>
  </div>
</div>

<div class="submenu-content author-content">
  <%= yield %>
</div>

<div id="message-dialog">
  <%= form_for :message, :url => messages_path, :html => {:style => "margin-bottom: 10px;", :id => 'haiku_form'} do |form| %>
    <%= hidden_field_tag 'message[recipient_id]', @author.id %>
    <table class="internals">
      <tr>
        <td />
        <td id="preview", class="empty">
          <div>Start typing a haiku below and your</div>
          <div>syllables will be counted here.</div>
          <div></div>
        </td>
      </tr>
      <tr>
        <td><label>Message:</label></td>
        <td><%= haiku_text_tag(:name => "message[text]", :id => "message_text") %></td>
      </tr>
      <tr>
        <td />
        <td>
          <%= form.submit "Send", :id => "send_haiku", :disabled => true %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<script>
$(function() {
  new Haiku.PeriodicalUpdater("#message_text", "#preview", "#send_haiku");

  $('#new-message').click(function(e) {
    $('#message-dialog').dialog({
      title: 'Send a message',
      resizable: false,
      width: 460
    });
  	e.preventDefault();
  })
});
</script>

<script>
$(function() {
  $('#add-friend').click(function() {
    $(this).hide();
    $('#remove-friend').show();
  });

  $('#remove-friend')
    .click(function() {
      $(this).hide();
      $('#add-friend').show();
    })
    .hover(
      function() {
        $(this).attr('value', 'X Unfollow')
      },
      function() {
        $(this).attr('value', 'Following')
      }
    );
});
</script>