<%- rss_discovery "#{@author.username}'s haiku", author_path(@author.username) %>
<%- title "#{@author.username}'s Journal" %>
<% description "Haiku by #{@author.username}" %>

<div class="author-header">
  <div class="avatar">
    <%= large_avatar_image(@author) %>
  </div>
  <div class="nav">
    <h2><%= "#{@author.username}'s Journal" %></h2>
    <%= sub_menu(:class => "tab_nav") do |m| %>
      <%= m.link "Haiku", author_path(:id => @author.username) %>
      <%= m.link "Subjects", author_subjects_path(:author_id => @author.username)  %>
      <%= m.link "Friends", friends_author_path(@author.username)  %>
      <li>
        <%= add_friend(@author) %>
        <%= remove_friend(@author) %>
      </li>
    <% end %>
  </div>
</div>

<div class="submenu-content author-content">
  <%= yield %>
</div>

<script>
$(function() {
  $('#add-friend').click(function() {
    $('#add-friend').hide();
    $('#remove-friend').show();
  });
  $('#remove-friend').click(function() {
    $('#remove-friend').hide();
    $('#add-friend').show();
  })
});
</script>