- title "New account"

%h2 Create a new account
= form_for @author do |form|
  %table
    %tr
      %td
        = form.label :email, 'Email:'
      %td
        = form.error_message_on :email, :prepend=>"Email "
        = form.text_field :email
      %td{rowspan: "3"} 
        %h2 or
      %td{rowspan: "3"}
        = facebook_login size: 'large', length: 'long'
    %tr
      %td
        = form.label :username, 'Username:'
      %td
        = form.error_message_on :username, :prepend=>"User name "
        = form.text_field :username
    %tr
      %td
        = form.label :password, 'Password:'
      %td
        = form.error_message_on :password, :prepend=>"Password "
        = form.password_field :password  
    %tr
      %td
      %td
        = form.submit 'Register'

    %tr
      %td
      %td{:style => 'padding-top: 10px'}
        = link_to "Are you already an author?", login_path
%script
  document.getElementById('author_email').focus();