- title "New account"

%h2 Create a new account
- form_for :author, :url => authors_path do |form|
  %table
    %tr
      %td
        = form.label :email, 'Email:'
      %td
        = error_message_on :author, :email
        = form.text_field :email
    %tr
      %td
        = form.label :username, 'Username:'
      %td
        = error_message_on :author, :username
        = form.text_field :username
    %tr
      %td
        = form.label :password, 'Password:'
      %td
        = error_message_on :author, :password
        = form.password_field :password  
    %tr
      %td
      %td
        = form.submit 'Register'

    %tr
      %td
      %td{:style => 'padding-top: 10px'}
        = link_to "Are you already an author?", login_path
%script
  document.getElementById('author_email').focus();

%fb:login-button

- if Rails.env.production?
  = render 'public/signup_tracker'