%p#cancel_line{:style => "display:none"}= link_to("cancel", nil, :id => "cancel_link")

#inspiration_what
  Inspirations give you something to write about.
  Select the type of inspiration you'd like to use below.

#inspiration_selection
  %p= link_to("Use inspiration from Flickr", nil, :id => "use_flickr")
  %p= link_to("Upload an inspiration image", nil, :id => "use_upload")

#inspiration_preview{:style => "display: none;"}
  = link_to("< Prev", "#", :id => "prev_inspiration")
  = link_to("Next >", "#", :id => "next_inspiration")
  #inspiration_image

#upload_inspiration_image
#inspiration_upload{:style => "display: none;"}
  %p Upload your own inspiration:
  - form_for :upload_inspiration, :url => {:controller => 'haikus', :action => 'upload'}, :html => { :multipart => true, :target => "upload_frame" }  do |form|
    = form.file_field :inspiration
    = form.submit "Upload"

%iframe#upload_frame{ :name=>"upload_frame", :style=> "display:none", :src=>"about:blank"}
%script= "inspirations(#{inspirations_json});"