- title "Email haiku by #{@haiku.author.username}"
- description @haiku.terse

.haiku-big
  .text
    - @haiku.text.each_line do |line|
      .line= h(line)

#haiku_email_form
  %h3#email_header= 'Enter e-mail address(es)'
  - form_tag(deliver_haiku_path(@haiku), {:method => :post}) do
    = hidden_field_tag :referrer, request.referrer
    %table
      %tr
        %td= text_area_tag "email"
      %tr
        %td= submit_tag "Send"