- title "Email haiku by #{@haiku.author.username}"
- description @haiku.text.gsub(/\r\n|\r|\n/, ' / ')

%h2=haiku_title(@haiku)
.haiku-big
  .text
    - @haiku.text.each_line do |line|
      .haiku-line= h(line)

%h3= 'Email Haiku!!!'
= form_tag({:controller => 'haikus', :action => 'deliver'}, {:method => :post}) do 
  = text_field_tag "email"
  = submit_tag "Send"