- content_for :title, 'Create a haiku'

.column.wide
  %h2= 'Create a haiku'

  #preview
    = image_tag "haiku-bg.png"

  - form_for :haiku, :url => {:controller => 'haikus', :action => 'create'}, :html => {:id => 'haiku_form'} do |form|
    #haiku_text_container
      %h3= 'Type in haiku'
      = form.text_area (:text, :cols => 40, :rows => 3)
    #subject_form_container
      %h3= 'Subject'
      = subject_auto_complete
    %div
      = form.submit "Create", :id => "commit_haiku", :disabled => true

  %script
    new Haiku.PeriodicalUpdater("haiku_text", "preview", "commit_haiku");
    $('haiku_text').focus();
    
.column.small
  %h2= @right_title
  = render(:partial => "shared/haiku", :collection => @haikus)
  
%br