- title "A haiku by #{@single_haiku.author.username}"

%h2=haiku_title(@single_haiku)

.center
  - if !@single_haiku.conversation.nil? && @single_haiku.conversation.inspiration_type == 'flickr'
    - link_to inspiration_url(@single_haiku.conversation), :class => 'haiku-inspiration' do
      = image_tag @single_haiku.conversation.inspiration.thumbnail
  .haiku-big
    .text
      - @single_haiku.text.each_line do |line|
        .haiku-line= h(line)
    %div
      = "Created on #{@single_haiku.created_at.strftime("%b %d, %Y")} by"
      = link_to_author @single_haiku.author
    %div
      = "Favorited: #{@single_haiku.favorited_count_total}, "
      = "Viewed: #{@single_haiku.view_count_total}"
      - unless @single_haiku.subject_name.nil?
        = ", Subject: #{link_to_subject @single_haiku.subject_name}"
    - if current_author
      %div
        = favorite_span(@single_haiku)
        - if @single_haiku.author == current_author
          - link_to @single_haiku, :method => :delete do
            = image_tag("icons/trash.png", :alt => "Delete")
    %div
      %script{:src => "http://digg.com/tools/diggthis.js", :type => "text/javascript"}

.conversation-section
  - if @single_haiku.conversation.nil? || @single_haiku.conversation.haikus_count_total == 1
    #first_statement
      = link_to_function "Post a haiku", nil do |page|
        - page[:first_statement].hide
        - page[:statement_form].show
      to start a conversation
      
    #statement_form{:style => 'display: none'}
      = render :partial => 'shared/create', :locals => {:conversing_with => @single_haiku}
  - else
    %h2 This haiku is in a conversation
    = link_to_function "Add a haiku to this conversation", nil, {:id => "add_statement_link"}  do |page|
      - page[:statement_form].show
      - page[:haiku_text].focus
    #statement_form{:style => 'display: none'}
      = render :partial => 'shared/create', :locals => {:conversing_with => @single_haiku}
    %br
    = render :partial => 'shared/haiku', :collection => @single_haiku.conversation.haikus