- title "A haiku by #{@haiku.author.username}"
- description @haiku.text.gsub(/\r\n|\r|\n/, ' / ')

%h2=haiku_title(@haiku)

- content_tag(:div, @haiku.conversing? && @haiku.conversation.inspiration ? ({:style => "overflow: hidden"}) : ({:class => "center"})) do
  - if @haiku.conversing? && @haiku.conversation.inspiration
    .haiku-inspiration
      - link_to @haiku.conversation, :class => "" do
        = image_tag @haiku.conversation.inspiration.thumbnail
      %br
      - link_to @haiku.conversation do
        = pluralize(@haiku.conversation.haikus_count_total, 'haiku')
        were inspired by this image
  .haiku-big
    .text
      - @haiku.text.each_line do |line|
        .haiku-line= h(line)
    %div
      = "Created on #{@haiku.created_at.strftime("%b %d, %Y")} by"
      = link_to_author @haiku.author
    %div
      = "Favorited: #{@haiku.favorited_count_total}, "
      = "Viewed: #{@haiku.view_count_total}"
      - unless @haiku.subject_name.nil?
        = ", Subject: #{link_to_subject @haiku.subject_name}"
    - if current_author
      .actions
        = favorite_star(@haiku)
        = destroy_haiku_link(@haiku)

.conversation-section
  - if @haiku.conversing? && !@haiku.conversation.inspiration
    This haiku is in a conversation with
    = pluralize(@haiku.conversation.haikus_count_total, 'haiku') + "."
    = link_to "Post your own haiku »", @haiku.conversation, {:style => "font-weight: bold;"}
    = render_haikus(@haiku.conversation.haikus)
  - elsif !@haiku.conversing?
    %h3 Start a conversation with this haiku:
    #statement_form
      = render_create(:conversing_with => @haiku)