.haiku-big
  = render :partial => 'shared/haiku', :object => @haiku
  %br
    
- unless @haikus_by_same_author.empty?
  %h3= "#{h(@haiku.author.username)} has #{pluralize(@haiku.author.haikus_count_total - 1, 'other haiku', 'more haikus')}:"
  = render(:partial => "shared/haiku", :collection => @haikus_by_same_author)
  %br