- title "A haiku by #{@single_haiku.author.username}"

%h2= "A haiku by #{@single_haiku.author.username}"

.center
  .haiku-big
    - if @single_haiku.conversation.inspiration_type == 'flickr'
      = image_tag @single_haiku.conversation.inspiration.thumbnail, :class => 'haiku-inspiration'
    - div_for @single_haiku do
      .text
        - @single_haiku.text.each_line do |line|
          .haiku-line= h(line)
      .haiku_detail
        = "Created on #{@single_haiku.created_at.to_s(:haiku)} by"
        = link_to_author @single_haiku.author
      .haiku_detail
        = "Favorited: #{@single_haiku.favorited_count_total}, "
        = "Viewed: #{@single_haiku.view_count_total}, "
        - unless @single_haiku.subject_name.nil?
          = "Subject: #{link_to_subject @single_haiku.subject_name}"
      - if current_author
        .haiku_detail
          = favorite_span(@single_haiku)
          - if @single_haiku.author == current_author
            = link_to @single_haiku, :method => :delete do
              = image_tag("icons/trash.png", :alt => "Delete")

.conversation
  - if @single_haiku.conversation.nil?
    #first_statement
      = link_to_function "Post a haiku", nil  do |page|
        - page[:first_statement].hide
        - page[:statement_form].show
      to start a conversation
      
    #statement_form{:style => 'display: none'}
      = render :partial => 'shared/create', :locals => {:conversing_with => @single_haiku}
  - else
    %h2 This haiku is in a conversation
    = link_to_function "Add a haiku to this conversation", nil, {:id => "add_statement_link"}  do |page|
      - page[:statement_form].show
      - page[:haiku_text].focus
    #statement_form{:style => 'display: none'}
      = render :partial => 'shared/create', :locals => {:conversing_with => @single_haiku}
    %br
    = render :partial => 'shared/conversation', :object => @single_haiku.conversation.haikus