- @haiku.text.each_line do |line|
  .haiku-line-big= h(line)
.haiku_details
  %span.author= link_to h(@haiku.user.username), {:controller => "users", :action => 'show', :id => @haiku.user.username}
  - if current_user
  = favorite_span(@haiku)
  - end
  - if @haiku.user == current_user
  = link_to ({:id => @haiku, :referrer => referring_uri}, {:method => :delete})  do
    = image_tag("trash.png", :alt => "Delete")
  - end
%br
%br
- unless @users.empty?
  %h3 Users who like this haiku:
  - @users.each do |user|
  %p= link_to h(user.username), { :controller => "users", :action => 'show', :id =>  user.username }
  - end
%br
%br
- unless @user_haikus.empty?
  %h3 Other haikus by this user:
  = render(:partial => "shared/haiku", :collection => @user_haikus)