- content_for :title, "A haiku by #{@haiku.author.username}"

.center
  .haiku-big
    = render :partial => 'shared/haiku', :object => @haiku

- if @haiku.responding_to
  .responding_to
    This haiku is in response to a
    = link_to "haiku by #{@haiku.responding_to.author.username}", @haiku.responding_to

.responses
  %h2 Responses to this haiku
  = link_to_response "Post a response."
  
  #response_form{:style => 'display: none'}
    = render :partial => 'shared/create'
  
  - if @haiku.responses.empty?
    = render(:partial => "shared/haiku", :collection => @haiku.responses)

- unless @haiku.happy_authors.empty?
  %h2 Users who favorited this haiku:
  %p{:style => "padding-left: 10px"}
    - @haiku.happy_authors.each do |author|
    = link_to h(author.username), {:controller => "authors", :action => 'show', :id => author.username}
    - end
  %br
- unless @haikus_by_same_author.empty?
  %h2= "#{h(@haiku.author.username)} has #{pluralize(@haiku.author.haikus_count_total - 1, 'other haiku', 'more haikus')}:"
  = render(:partial => "shared/haiku", :collection => @haikus_by_same_author)
  %br
  = link_to "See all #{@haiku.author.haikus_count_total} haikus", :controller => 'authors', :action => 'show', :id => @haiku.author.username
