- title "A haiku by #{@single_haiku.author.username}"
- description @single_haiku.text.gsub(/\r\n|\r|\n/, ' / ')

%h2=haiku_title(@single_haiku)

.center
  - if !@single_haiku.conversation.nil? && @single_haiku.conversation.inspiration_type == 'flickr'
    - link_to inspiration_url(@single_haiku.conversation), :class => 'haiku-inspiration' do
      = image_tag @single_haiku.conversation.inspiration.thumbnail
  .haiku-big
    .text
      - @single_haiku.text.each_line do |line|
        .haiku-line= h(line)
    %div
      = "Created on #{@single_haiku.created_at.strftime("%b %d, %Y")} by"
      = link_to_author @single_haiku.author
    %div
      = "Favorited: #{@single_haiku.favorited_count_total}, "
      = "Viewed: #{@single_haiku.view_count_total}"
      - unless @single_haiku.subject_name.nil?
        = ", Subject: #{link_to_subject @single_haiku.subject_name}"
    - if current_author
      .actions
        = favorite_star(@single_haiku)
        = destroy_haiku_link(@single_haiku)
    %div
      %script{:src => "http://digg.com/tools/diggthis.js", :type => "text/javascript"}

.conversation-section
  - if @single_haiku.conversation.nil? || @single_haiku.conversation.haikus_count_total == 1
    %h3 Start a conversation with this haiku:
    #statement_form
      = render :partial => 'shared/create', :locals => {:conversing_with => @single_haiku}
  - else
    %h3 This haiku is in a conversation. Post your own haiku below.
    #statement_form
      = render :partial => 'shared/create', :locals => {:conversing_with => @single_haiku}
    %br
    = render_haikus(@single_haiku.conversation.haikus)