= check_box_tag('use_inspiration')
= label_tag('use_inspiration', 'Use inspiration')
= link_to("< Prev", "#", :id => "prev_inspiration")
= link_to("Next >", "#", :id => "next_inspiration")

#inspiration_preview

%script= "inspirations(#{@inspirations.to_json});"