- content_for :title, 'Haiku Journal'

#user-summary
  You have written
  = link_to "#{current_author.haikus_count_total} haikus", :action => 'haikus'
  and have
  = link_to "#{current_author.favorites_count} favorites.", :action => 'favorites'

.column.wide
  %h2= 'Create a haiku'

  #preview
    = image_tag "haiku-bg.png"

  - form_for :haiku, :url => {:controller => 'haikus', :action => 'create'}, :html => {:id => 'haiku_form'} do |form|
    #haiku_text_container
      %h3= 'Write a Haiku'
      = form.text_area (:text, :cols => 40, :rows => 3)
    #subject_form_container
      %h3= 'Subject (optional)'
      = subject_auto_complete
    %div
      = form.submit "Create", :id => "commit_haiku", :disabled => true

  %script
    new Haiku.PeriodicalUpdater("haiku_text", "preview", "commit_haiku");
    $('haiku_text').focus();
    
.column.small
  - unless @recent_haikus.empty?
    %h2= 'Your recent haikus'
    = render(:partial => "shared/haiku", :collection => @recent_haikus[0..1])
    - if @recent_haikus.size > 2
      = link_to 'View your haikus...', {:action => 'haikus'}, {:class => 'see_more_link'}
        
%br