<%= title 'Haiku Journal' %>

<% render :layout => 'layout' do %>
  <div style="margin: 0 0 15px; overflow: hidden;">
    <%= render :partial => 'shared/create' %>
    <div id="rand-inspiration">
      <p>
        Experiencing writer's block?
        Get inspired by interesting images from flickr.
      </p>
      <p>
        <%= link_to_remote("Inspire me!", :url => {:controller => 'inspirations', :action => 'random', :offset => rand(10).to_i}, :update => "rand-inspiration") %>
      </p>
    </div>
  </div>

  <div style="margin-left: 30px; border-top: 1px dotted #ccc">
    <%= render :partial => "shared/haiku", :collection => @haikus %>
  </div>
  <br />
  <%= will_paginate @haikus, :id => 'pagination', :prev_label => '< Newer', :next_label => 'Older >' %>
<% end %>