#preview{:class => 'empty'}
  %div= "five syllables"
  %div= "seven syllables"
  %div= "five syllables"

- form_for :haiku, :url => {:controller => 'haikus', :action => 'create'}, :html => {:id => 'haiku_form'} do |form|
  - unless local_assigns[:conversing_with].nil?
    = hidden_field_tag('haiku[conversing_with]', conversing_with.id)
  - unless local_assigns[:conversation].nil?
    = hidden_field_tag('haiku[conversation_id]', conversation.id)
    
  #haiku_text_container
    %h3= 'Write a Haiku'
    = haiku_text_tag

  .submit
    = subject_auto_complete
    = form.submit "Create", :id => "commit_haiku", :disabled => true

%script
  new Haiku.PeriodicalUpdater("haiku_text", "preview", "commit_haiku");