- div_for(haiku, :class => flash[:new_haiku_id] == haiku.id ? 'new' : '') do
  = link_to haiku, :class => 'text' do
    - haiku.text.each_line do |line|
      .haiku-line= h(line)
  .haiku_details
    .haiku_detail
      = "Created on #{haiku.created_at.to_s(:haiku)} by"
      = link_to h(haiku.user.username), {:controller => "users", :action => 'show', :id => haiku.user.username}
    .haiku_detail
      = "Favorited: #{haiku.favorited_count_total}, Viewed: #{haiku.view_count_total}"
    - if current_user
      .haiku_detail
        = favorite_span(haiku)
        - if haiku.user == current_user
          = link_to haiku, :method => :delete do
            = image_tag("trash.png", :alt => "Delete")