#paginated_haikus
  - if @haikus
  - if @haikus.empty?
  No results
  - else
  = render(:partial => "shared/paginate", :locals => {:collection => @haikus })
  #haiku_box
    #haiku_hidden
      #haiku_left.haiku_fragment
        - @haikus.each_with_index do |haiku, index|
          %div[haiku]
            - for line in haiku.text.split("\n")
            .haiku-line
              = h(line)
            - end
            .author= haiku.user.username
    
      #haiku_center.haiku_fragment
        - @haikus.each_with_index do |haiku, index|
          %div[haiku]
            - for line in haiku.text.split("\n")
            .haiku-line
              = h(line)
            - end
            .author= haiku.user.username

      #haiku_right.haiku_fragment
        - @haikus.each_with_index do |haiku, index|
          %div[haiku]
            - for line in haiku.text.split("\n")
            .haiku-line
              = h(line)
            - end
            .author= haiku.user.username
  
  = render(:partial => "shared/paginate", :locals => {:collection => @haikus })
  %br
  - end
  - end