%ul
  - if collection.previous_page?
  %li.nextpage
    = link_to_adjacent_page('&#171; previous', collection.previous_page)
  - end

  - last_page = 0

  - windowed_pagination_links(collection, :window_size => 2, :link_to_current_page => true, :always_show_anchors => true) do |n|
    - if collection.page == n
    %li.currentpage
      = n
    - else
    %li
      = "..." if last_page+1 < n
      = link_to_remote n, :url => {:id => params[:id], :page => n}, :update => 'paginated_haikus'
    - end
    - last_page = n

  - if collection.next_page?
  %li.nextpage
    = link_to_adjacent_page('next &#187;', collection.next_page)
  - end
  %span#pagination_loader{:style => "display:none"}
    = image_tag("ajax-loader.gif")