- if collection.page_count != collection.first_page
  .pagination
  %ul
    - if collection.previous_page?
    %li.nextpage
      = link_to '&#171; previous', { :page => collection.previous_page }
    - else
    %li.disablepage
      &#171; previous
    - end
 
    - last_page = 0

    - windowed_pagination_links(collection, :window_size => 2, :link_to_current_page => true, :always_show_anchors => true) do |n|
      - if collection.page == n
      %li.currentpage
        = n
      - else
      %li
        = "..." if last_page+1
        = link_to n, :id => params[:id], :page => n
      - end
      - last_page = n
 
    - if collection.next_page?
    %li.nextpage
      = link_to 'next &#187;', { :page => collection.next_page }
    - else
    %li.disablepage
      &#171; next
    - end