- if collection.page_count != collection.first_page
  .pagination
    %ul
      - if collection.previous_page?
      %li.nextpage
        = link_to_remote '&#171; previous', :url => { :page => collection.previous_page }, :complete => "paginate(request, false)"
      - end
 
      - last_page = 0

      - windowed_pagination_links(collection, :window_size => 2, :link_to_current_page => true, :always_show_anchors => true) do |n|
        - if collection.page == n
        %li.currentpage
          = n
        - else
        %li
          = "..." if last_page+1 < n
          = link_to_remote n, :url => {:id => params[:id], :page => n}, :update => 'paginated_haikus'
        - end
        - last_page = n
 
      - if collection.next_page?
      %li.nextpage
        = link_to_remote 'next &#187;', :url => {:page => collection.next_page}, :complete => "paginate(request, true)"
      - end