- content_for :title, "Subjects"

= render :partial => 'search_form'

.column
  %h3= 'Popular Subjects'
  %ul.subject_list
    - @popular_subjects.each do |subject|
      %li
        = link_to_subject subject
        %span.subject_metric
          = "(#{pluralize subject.haikus_count_total, 'haiku'})"

.column
  %h3= 'New Subjects'
  %ul.subject_list
    - @new_subjects.each do |subject|
      %li
        = link_to_subject subject
        %span.subject_metric
          = subject.created_at.to_s(:haiku)