- content_for :title, "Subjects"

= render :partial => 'search_form'

.column
  %h3= 'Last week'
  .href_list= subject_list(@hot_subjects)

.column
  %h3= 'New subjects'
  .href_list= subject_list(@new_subjects)

.cloud
  %h3='Most popular subjects'
  = subject_cloud(@popular_subjects)