- title "Haikus about #{@subject.name}"
- description "Haikus about #{@subject.name}"

%h2= "Haikus about #{h @subject.name}"
= render_haikus(@haikus)
			
= will_paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => true