- title "Haiku about #{@subject.name}"
- description "Haiku about #{@subject.name}"

%h2
  Haiku about
  = @subject.name

= render_haikus(@haikus)
			
= will_paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => true