<%= render layout: 'layout' do %>
  <div style="margin: 0 0 15px;">
    <%= render_create(:inspire => true) %>
  </div>

  <div class="self">
    <%= render @haikus %>
  </div>
  <br />
  <%= paginate @haikus, id: 'pagination', previous_label: '< Newer', next_label: 'Older >', page_links: true %>
  <%= render "feed_links" %>
<% end %>
