- content_for(:head) do
= javascript_include_tag "haiku"
= yui_include_tag "yahoo-dom-event", "element", "button"
- end

= error_messages_for 'haiku'

%h2 Share your haiku:
#preview

- form_for :haiku, :html => {:id => 'haiku_form'} do |form|
%p
  %label{:for => "text"} My Haiku
  %br
  = form.text_area (:text, :cols => 40, :rows => 3)

  = submit_tag("Create", :id => "commit")
- end

%script new Haiku.PeriodicalUpdater("haiku_text", "preview");

%script
  var button = new YAHOO.widget.Button("commit", { id: "mine" });
  $('haiku_text').focus();

- content_for :right_side do
%h2 Recent Haikus
#recent-haikus
  = render (:partial => "shared/haiku", :collection => @haikus)

  #next-haiku"{:style => "display:none"}

  %script
    new Ajax.PeriodicalUpdater($('next-haiku'),
    = "'#{(url_for :controller => 'welcome', :action => 'next')}', {"
    \      method: 'get',
    \      frequency: 3,
    \      onSuccess: function() {
    \        var haikus = Element.getElementsByClassName('recent-haikus', 'haiku');
    \        var next_haiku = Element.getElementsByClassName('next-haiku', 'haiku').first();
    \        if (haikus.first().id != next_haiku.id) {
    \          $('recent-haikus').innerHTML = $('next-haiku').innerHTML + $('recent-haikus').innerHTML;
    \          new Effect.Highlight(next_haiku.id);
    \          Element.remove(haikus.last().id);
    \        }
    \      }
    \    });

- end