#haiku-summary
  = link_to "#{number_with_delimiter @total_authors} authors", :controller => 'authors'
  have written
  = link_to "#{number_with_delimiter @total_haikus} haikus", :controller => 'haikus'
  about
  = link_to "#{number_with_delimiter @total_subjects} subjects", :controller => 'subjects'