#haiku-summary
  .summary-line
    %span.count_value= number_with_delimiter @total_authors
    %span.count_text
      = link_to 'authors', :controller => 'authors'
      ='have written'
  .summary-line
    %span.count_value= number_with_delimiter @total_haikus
    %span.count_text
      =link_to 'haikus', :controller => 'haikus'
      ='about'
  .summary-line
    %span.count_value= number_with_delimiter @total_subjects
    %span.count_text= link_to 'subjects', :controller => 'subjects'