- content_for :title, 'Welcome to HaikuVillage'

.column.wide
  %h2= 'Welcome to HaikuVillage'

  #preview
    = image_tag "haiku-bg.png"

  - form_for :haiku, :url => {:controller => 'haikus', :action => 'create'}, :html => {:id => 'haiku_form'} do |form|
    #haiku_text_container
      %h3= 'Type in haiku'
      = form.text_area (:text, :cols => 40, :rows => 3)
    #subject_form_container
      %h3= 'Subject'
      = subject_auto_complete
      
  = link_to_function("Login and Create", nil, :id => 'show_haiku_login') do |page|
    - page.hide 'show_haiku_login'
    - page['haiku_login'].visual_effect :appear

  - remote_login_form do |login|
    .haiku_login_input_box
      %label="Twitter Username"
      = login.text_field :username
    .haiku_login_input_box
      %label="Password"
      = login.password_field :password
    .haiku_login_input_box
      #haiku_login_message
      = login.submit "Create", :id => "commit_haiku", :disabled => true

  %script
    new Haiku.PeriodicalUpdater("haiku_text", "preview", "commit_haiku");
    $('haiku_text').focus();
    
.column.small
  %h2= 'Recent haikus'
  = render(:partial => "shared/haiku", :collection => @haikus)
  
%br