- content_for :title, 'Welcome to HaikuVillage'

.column.wide
  = render :partial => current_author ? 'intro_active_author' : 'intro_active_author'
    
.column.small
  #haiku-summary
    .summary-line
      %span.global_count= number_with_delimiter @total_authors
      %span.whatever
        =link_to_controller 'authors', 'authors'
        ='have written'
    .summary-line
      %span.global_count= number_with_delimiter @total_haikus
      %span.whatever
        =link_to_controller 'haikus', 'haikus'
        ='about'
    .summary-line
      %span.global_count= number_with_delimiter @total_subjects
      %span.whatever= link_to_controller 'subjects', 'subjects'
  %h2= 'Recent haikus'
  = render(:partial => "shared/haiku", :collection => @recent_haikus)
  
%br