- content_for :title, 'Welcome to HaikuVillage'

.column.wide
  = render :partial => current_author ? 'intro_active_author' : 'intro_new_author'
  %p= "Join the village:"
  #haiku-summary
    .summary-line
      %span.count_value= number_with_delimiter @total_authors
      %span.count_text
        = link_to 'authors', :controller => 'authors'
        ='have written'
    .summary-line
      %span.count_value= number_with_delimiter @total_haikus
      %span.count_text
        =link_to 'haikus', :controller => 'haikus'
        ='about'
    .summary-line
      %span.count_value= number_with_delimiter @total_subjects
      %span.count_text= link_to 'subjects', :controller => 'subjects'
      
  - if current_author
  .subject_cloud
    %h2= 'Popular subjects'
    = subject_cloud(@popular_subjects)
  - end
.column.small{:style => 'margin-top: 100px'}
  #preview{:class => 'empty'}
  %h2#write= 'Write a haiku'
  - form_for :haiku, :url => haikus_url do |haiku|
    = haiku.text_area(:text, :cols => 37, :rows => 3)
    = haiku.submit 'Create', :id => "create_haiku", :disabled => true
%script
  new Haiku.PeriodicalUpdater("haiku_text", "preview", "create_haiku");
  $('haiku_text').focus();
  
%br