- content_for :title, 'Welcome to HaikuVillage'

.column.wide
  #intro HaikuVillage is an online community of haiku authors anyone can join. The syllables in your haiku will be counted as you type.

  #preview
    = image_tag "haiku-bg.png"

  - form_for :haiku, :url => {:controller => 'haikus', :action => 'create'}, :html => {:id => 'haiku_form'} do |form|
    #haiku_text_container
      %h3= 'Type in haiku'
      = form.text_area(:text, :cols => 40, :rows => 3)
    #subject_form_container
      %h3= 'Subject (optional)'
      = subject_auto_complete
    = form.submit 'dummy', :disabled => true, :style => 'display: none;'

  - remote_login_form do |login|
    .haiku_login_input_box
      %label="Twitter Username"
      = login.text_field :username
    .haiku_login_input_box
      %label="Password"
      = login.password_field :password
    .haiku_login_input_box
      #haiku_login_message
      = login.submit "Create", :id => "commit_haiku", :disabled => true
      
  = link_to_function("Sign in and Create", nil, :id => 'show_haiku_login') do |page|
    - page.hide 'show_haiku_login'
    - page['haiku_login'].visual_effect :appear

  %script
    new Haiku.PeriodicalUpdater("haiku_text", "preview", "commit_haiku");
    $('haiku_text').focus();
    
.column.small
  %h2= 'Recent haikus'
  = render(:partial => "shared/haiku", :collection => @haikus)
  
%br