- content_for :title, 'Welcome to HaikuVillage'

.column.wide
  = render :partial => current_author ? 'intro_active_author' : 'intro_new_author'
  .subject_cloud
    %h2= 'Popular subjects'
    = subject_cloud(@popular_subjects)
    
.column.small
  #haiku-summary
    .summary-line
      %span.count_value= number_with_delimiter @total_authors
      %span.count_text
        = link_to 'authors', :controller => 'authors'
        ='have written'
    .summary-line
      %span.count_value= number_with_delimiter @total_haikus
      %span.count_text
        =link_to 'haikus', :controller => 'haikus'
        ='about'
    .summary-line
      %span.count_value= number_with_delimiter @total_subjects
      %span.count_text= link_to 'subjects', :controller => 'subjects'
  %h2= 'Recent haikus'
  = render(:partial => "shared/haiku", :collection => @recent_haikus)
  = link_to 'Explore haikus...', {:controller => 'haikus'}, {:class => 'see_more_link'}
  
%br