- title'Register'

%h2= "Share your haiku with the village"
.center
  - if @haiku.conversation && @haiku.conversation.inspiration_type == 'flickr'
    = image_tag @haiku.conversation.inspiration.thumbnail, :class => 'haiku-inspiration'
  .haiku-big
    .text
      - @haiku.text.each_line do |line|
        .haiku-line= h(line)

.column.small
  %h3= "Already a user?"
  - deferred_haiku_form :session, :url => login_url, :html => {:id => 'register_login_form'} do |form|
    %div
      %h3= 'Username'
      = form.text_field :username
    %div
      %h3= 'Password'
      = form.password_field :password
    = form.submit "Sign in"

.column.wide
  %h3= 'Create a new account'
  - deferred_haiku_form :author, :url => register_url, :html => {:class => 'register_form'}  do |author|
    %div
      %h3= 'Email'
      = error_message_on :author, :email
      = author.text_field :email
    %div
      %h3= 'Username'
      = error_message_on :author, :username
      = author.text_field :username
    %div
      %h3= 'Password'
      = error_message_on :author, :password
      = author.password_field :password  

    %div
      = author.submit 'Register', :id => "create_account"