- content_for :title, 'Register'

- form_for :author, :url => authors_url, :html => {:id => 'register_form'}  do |author|
  %h2= 'Register'
  
  %div
    %h3= 'Email'
    = author.text_field :email
  %div
    %h3= 'Username'
    = author.text_field :username
  %div
    %h3= 'Password'
    = author.password_field :password
  
  #preview
    = image_tag "haiku-bg.png"
  
  - fields_for :haiku do |haiku|
    %h3= 'Write your first haiku'
    = haiku.text_area(:text, :cols => 40, :rows => 3)

  %div
    = author.submit 'Register', :id => "create_account", :disabled => true

%script
  new Haiku.PeriodicalUpdater("haiku_text", "preview", "create_account");
  $('author_email').focus();