<% title 'Profile' %>

<h2>Profile</h2>

<%= sub_menu(:class => "tab_nav") do |m| %>
  <%= m.link "Account", :action => 'index' %>
  <%= m.link "Password", :action => 'password' %>
  <% unless current_author.fb_uid %>
    <%= m.link "Avatar", :action => 'avatar' %>
  <% end %>
<% end %>

<div class="submenu-content">
  <%= yield %>
</div>