<% render :layout => 'layout' do %>
  <% form_for current_author, :author, :url => {:controller => 'profile'} do |form| %>
    <table>
      <tr>
        <td><%= form.label :username, 'Username:' %></td>
        <td><%= form.text_field :username %></td>
      </tr>
      <tr>
        <td><%= form.label :email, 'E-mail:' %></td>
        <td><%= form.text_field :email %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= form.submit "Save" %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<script>
document.getElementById('author_username').focus();
</script>