<%= render layout: 'layout' do %>
  <%= form_for current_author, url: {controller: 'profile'} do |form| %>
    <table>
      <tr>
        <td><%= form.label :username, 'Username:' %></td>
        <td><%= form.text_field :username %></td>
      </tr>
      <tr>
        <td><%= form.label :email, 'E-mail:' %></td>
        <td><%= form.text_field :email %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= form.submit "Save" %></td>
      </tr>
    </table>
  <% end %>
  <div class="facebook">
    <div class="header">Facebook</div>
    <% if current_author.fb_uid %>
        You are connected to facebook.
        <%= button_to 'Disconnect', {action: 'disconnect'}, {id: 'disconnect', method: :delete} %>
    <% else %>
      <%= facebook_login name: 'Connect with Facebook' %>
    <% end %>
  </div>
<% end %>

<script>
$(function() {
  $('#author_username').focus();

  $('#disconnect').click(function(e) {
    if (FB.getAuthResponse()) {
      var el = $(this);
      FB.logout(function() {
        el.click();
      });
      return false;
    }
  });
});
</script>