<% render :layout => 'layout' do %>
  <% form_tag do %>
    <table>
      <tr>
        <td><%= label_tag :current_password, 'Current password:' %></td>
        <td><%= password_field_tag :current_password %></td>
      </tr>
      <tr>
        <td><%= label_tag :password, 'New password:' %></td>
        <td><%= password_field_tag :password %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= submit_tag "Save" %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<script>
$('current_password').focus();
</script>