- title 'Register'

- if deferred_haiku
  %h2 Share your haiku with the village
  .center{:style => 'margin-bottom: 14px'}
    - if deferred_haiku.conversation && deferred_haiku.conversation.inspiration_type == 'flickr'
      = image_tag @haiku.conversation.inspiration.thumbnail, :class => 'haiku-inspiration'
    .haiku-big
      .text
        - deferred_haiku.lines.each do |line|
          .line= h(line)
- else
  %h2 You need to sign in or register

.register
  .column
    %h3= "Already an author?"
    = render :partial => 'sessions/form'
  
  .column
    %h3= 'Create a new account'
    = form_for @author do |form|
      - fields_for_haiku
      %table{:style => 'margin-left: 15px;'}
        %tr
          %td
            = form.label :email, 'Email:'
          %td
            = form.error_message_on :email
            = form.text_field :email
        %tr
          %td
            = form.label :username, 'Username:'
          %td
            = form.error_message_on :username
            = form.text_field :username
        %tr
          %td
            = form.label :password, 'Password:'
          %td
            = form.error_message_on :password
            = form.password_field :password  
        %tr
          %td
          %td
            = form.submit 'Register', :id => "create_account"

- if Rails.env.production?
  = render 'signup_tracker'