#header.navigation
  .left
    = link_to root_path, :id => "logo-link" do
      = image_tag "haikuvillage.png", alt: 'Haiku Village'
    %ul.global
      = menu_item(controller_name == 'haikus' && action_name == 'index') do
        = link_to "All haiku", haikus_path
      = menu_item(controller_name == 'conversations') do
        = link_to 'Conversations', conversations_path
      = menu_item(controller_name == 'subjects') do
        = link_to 'Subjects', subjects_path
          
  .right
    %table.the-very-top
      %tr
        - unless current_author
          %td= link_to 'Signup', signup_path
          %td= link_to 'Login', login_path
        - else
          %td= link_to 'Profile', profile_path
          %td= link_to 'Logout', logout_path, id: 'logout-link'
        %td
          = header_search_form
    - if current_author
      %ul.global
        = menu_item(controller_name == 'friends') do
          = link_to "Friends", friends_path
        = menu_item(controller_name == 'messages') do
          - message_text = current_author.messages.unread.size > 0 ? "Messages (#{current_author.messages.unread.size})" : "Messages"
          = link_to message_text, messages_path
        = menu_item(controller_name == 'journal') do
          = link_to 'Journal', journal_path
