#header.navigation
  .left
    = link_to(image_tag("haikuvillage.png"), root_path, :id => "logo-link")
    - if current_author
      %ul
        %li= link_to 'Journal', journal_path
        %li= link_to "Friends", friends_path
        - message_text = current_author.messages.unread.size > 0 ? "Messages (#{current_author.messages.unread.size})" : "Messages"
        %li= link_to message_text, messages_path
  .right
    %table.the-very-top
      %tr
        - unless current_author
          %td= link_to 'Register', signup_path
          %td= link_to 'Sign in', login_path
        - else
          %td= link_to 'Profile', profile_path
          %td= link_to 'Sign out', logout_path
        %td
          = header_search_form
    %ul.global
      %li= link_to 'Subjects', subjects_path
      %li= link_to 'Conversations', conversations_path
      %li= link_to "All haiku", haikus_path