!!! XML
!!! Strict
%html{html_attrs}
  %head
    %title= yield(:title)
    %link{:rel => "icon", :href => "/images/favicon.ico"}
    %link{:rel => "icon", :href => "/images/favicon.png", :type => "image/png"}
    = javascript_include_tag 'prototype', 'effects', 'controls'
    = javascript_include_tag 'application', 'syllables', 'inspirations'
    = stylesheet_link_tag :haiku
    = yield :head
    = yield :description
  %body
    #body
      = render "layouts/header"
      - if flash[:notice]
        #notice= flash[:notice]
      #content-wrap
        #content
          = yield
        = render "layouts/corners"
    #footer
      = link_to "About", about_path
      |
      = link_to "Feedback", "http://haikuvillage.uservoice.com"
    - if Rails.env.production?
      = render "layouts/analytics"
